.order-details-page-title {
    color: #383e50;
    font-size: 30px;
    font-weight: 600;
}

.user_order_id {
    color: #383e50;
    font-size: 14px;
    font-weight: 400;
}

.order_details_timing {
    font-size: 14px;
    font-weight: 500;
}

small {
    color: #adb5bd !important;
}

.ord_save_btn {
    font-size: 14px;
    font-weight: 500;
    padding: 10px 40px;
    color: #ffffff;
    border: none;
    background-color: #088178;
    border-radius: 4px;
    margin: 0 5px;
}

.print_btn {
    font-size: 14px;
    font-weight: 500;
    padding: 10px 40px;
    color: #fff;
    background-color: #6c757d;
    border: none;
    box-shadow: none;
}

.o-d-p-title {
    color: #495057;
    font-weight: 600;
    line-height: 1.5;
    font-size: 18px;
}

.o-d-p-text {
    color: #495057;
    font-weight: 400;
    line-height: 1.5;
    font-size: 14px;
}

.o-d-p-link {}